<div class="container">
<h2>Add Animal</h2>
<div class="row">
  <div class="col-md-6">
    <form (ngSubmit)="onSubmit()" #animalForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="animal.name" required>
      </div>
      <div class="form-group">
        <label for="species">Species</label>
        <input type="text" class="form-control" id="species" name="species" [(ngModel)]="animal.species" required>
      </div>
      <div class="form-group">
        <label for="breed">Breed</label>
        <input type="text" class="form-control" id="breed" name="breed" [(ngModel)]="animal.breed" required>
      </div>
      <div class="form-group">
        <label for="owner">Owner</label>
        <input type="text" class="form-control" id="owner" name="owner" [(ngModel)]="animal.owner" required>
      </div>
      <div class="form-group">
        <label for="checkInDate">Check In Date</label>
        <input type="date" class="form-control" id="checkInDate" name="checkInDate" [(ngModel)]="animal.checkInDate" required>
      </div>
      <div class="form-group">
        <label for="checkOutDate">Check Out Date</label>
        <input type="date" class="form-control" id="checkOutDate" name="checkOutDate" [(ngModel)]="animal.checkOutDate" required>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!animalForm.valid">Submit</button>
    </form>
  </div>
</div>
</div>