<header>

  <button type="button" class="fa fa-bars position-fixed" aria-hidden="true" data-bs-toggle="modal"
    data-bs-target="#exampleModal" style="position: fixed; top: 0; left: 0; z-index: 1050;">
    <h6>Nav</h6>
  </button>
  <div class="modal fade-in modal-left modal_outer left_modal fade position-fixed" id="exampleModal" tabindex="-1"
    role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <i type="button" class="fa fa-angle-double-left" data-bs-dismiss="modal" aria-label="Close"> Navigation</i>

        </div>
        <div class="modal-body">
          <a class="nav-link text-black bi-house" data-bs-dismiss="modal" routerLinkActive="active" aria-current="page"
            routerLink="/"> Home</a>
          <span>
            <a class="nav-link text-black" data-bs-dismiss="modal" routerLinkActive="active" aria-current="page"
              routerLink="/all">Our Pets</a></span>
          <span>
            <a class="nav-link text-black " data-bs-dismiss="modal" routerLinkActive="active" aria-current="page"
              routerLink="/add">Add Pet</a></span>
          <span>
            <a class="nav-link text-black " data-bs-dismiss="modal" routerLinkActive="active" aria-current="page"
              routerLink="/learnmore">Learn More</a></span>
          <span>
            <a class="nav-link text-black " data-bs-dismiss="modal" routerLinkActive="active" aria-current="page"
              routerLink="/contactus">Contact Us</a></span>
        </div>

      </div>
    </div>
  </div>


</header>
<main>

  <div class="container mt-4">
    <div class="">
      <div class="z-10 flex justify-center px-6 md:px-0 mb-10 md:mb-[3vw]">
        <h1 class="max-w-[13em] text-center uppercase fade-in">
          Animal Shelter</h1>
      </div>
    </div>
  </div>
  <app-image-slider></app-image-slider>
  <router-outlet></router-outlet>

</main>

<footer></footer>