body {
    color: #d8d3d3;
    font-size: 1.25rem;
}

h1 {
    font-size: 2.5rem;
}

p {
    font-size: 1.5rem;
    line-height: 2rem;
}

a {
    font-size: 1.25rem;
}
.learnmore {
    background-color: rgba(100, 100, 100, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  