<div class="container mt-2 mb-2 overlay">
    <div class="row">
      <form (ngSubmit)="onSubmit()">
        <div *ngIf="animal != undefined"
          class="card col-md-4 col-sm-6 col-lg-3 d-flex flex-column fade-in">
          <h3 class="card-title">Pet's Name</h3>
          <div class="form-group">
            <h4><input type="text" class="card-title form-control" [(ngModel)]="animal.name"
                name="name" [disabled]="!isEditing" required></h4>
          </div>
          <div>
            <div>Species</div>
            <div class="form-group">
              <h4><input type="text" class="form-control" [(ngModel)]="animal.species" name="species"
                  [disabled]="!isEditing" required></h4>
            </div>
          </div>
          <div>
            <div>Breed</div>
            <div class="form-group"><h6><input type="text" class="form-control" [(ngModel)]="animal.breed"
                name="breed" [disabled]="!isEditing" required></h6></div>
          </div>
          <div>
            <h6>Owner</h6>
            <div class="form-group">
              <h6><input type="text" class="form-control" [(ngModel)]="animal.owner" name="owner"
                  [disabled]="!isEditing" required></h6>
            </div>
          </div>
          <div>
            <h6>Check In Date</h6>
            <div class="form-group">
              <h6>
                <input type="date" class="form-control" [(ngModel)]="checkin" name="checkin" [disabled]="!isEditing"
                   required>
              </h6>
            </div>
          </div>
          <div>
            <h6>Check Out Date</h6>
            <div class="form-group">
              <h6>
                <input type="date" class="form-control" [(ngModel)]="checkout" name="checkout" [disabled]="!isEditing"
                required >
              </h6>
            </div>
          </div>
          <div class="text-center">
            <button class="btn btn-light" type="button" (click)="onDelete()" [hidden]="isEditing">Delete Animal</button>
            <button class="btn btn-light" type="button" (click)="onEdit()" [hidden]="isEditing">Update Animal</button>
            <button class="btn btn-light" type="submit" [hidden]="!isEditing">Save Changes</button>
            <button class="btn btn-light" type="button" (click)="onCancel()" [hidden]="!isEditing">Cancel Update</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  