<div class="d-flex justify-content-center align-items-center mb-3 ">
    <h2 class="text-center me-5">Animal List</h2>
    <div class="d-flex">
        <div class="form-group me-3">
            <input type="text" class="form-control" placeholder="Search by owner name" [(ngModel)]="searchOwner"
                (input)="getAnimalsByOwner()">

        </div>
    </div>
</div>
<div class="container">
    <div class="row">
      
            <div class="card col-md-4 col-sm-6 col-lg-2 d-flex flex-column overlay" *ngFor="let animal of animals">
                <div class="card-body">
                    <button class="btn stretched-link" (click)="onClick(animal.id.toString())">
                        <h5 class="card-title">{{ animal.name }}</h5>
                        <p class="card-text">{{ animal.species }}</p>
                        <p class="card-text">{{ animal.breed }}</p>
                        <p class="card-text">{{ animal.owner }}</p>
                        <p class="card-text">{{ animal.checkInDate.slice(0,10) }}</p>
                        <p class="card-text">{{ animal.checkOutDate.slice(0,10) }}</p>                        
                    </button>
              
            </div>
        </div>
    </div>
</div>