.overlay {
    background-color: rgba(100, 100, 100, 0.8);
    /* adds a semi-transparent black background */
    z-index: 1;
    /* higher than the images */
    opacity: .75;
    color: #fff;
    /* sets the text color to white */
}
.btn.stretched-link{
    color: #fff;
}

.btn.stretched-link::after,.btn.stretched-link:hover {
    background-color: rgba(0, 0, 0, 0.5); /* adds a semi-transparent black background */
}

