<div class="container">
    <h2>Contact Us</h2>
    <p>Have a question or concern? Fill out the form below and we'll get back to you as soon as possible.</p>
    <form (ngSubmit)="onSubmit(contactForm.value)" #contactForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="name" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" required>
      </div>
      <div class="form-group">
        <label for="message">Message</label>
        <textarea class="form-control" id="message" name="message" rows="5" [(ngModel)]="message" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!contactForm.valid">Submit</button>
    </form>
  </div>
  