
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* adds a semi-transparent black background */
  color: #fff; /* sets the text color to white */
}

.overlay .text-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.overlay button {
  margin-top: 20px;
}

body {
  color: #d8d3d3;
  font-size: 1.25rem;
}

h1 {
  font-size: 2.5rem;
}

p {
  font-size: 1.5rem;
  line-height: 2rem;
}


