<div class="container-fluid">
    <div class="overlay">
        <div class="text-center ">
            <h1>Welcome to our website</h1>
            <p>Welcome to our animal shelter! We are a non-profit organization dedicated to finding loving homes for all kinds of animals, from dogs and cats to birds and reptiles. Our mission is to provide a safe haven for these animals and to help them find the care and love they deserve.</p>
            <p>Our shelter is staffed by caring and knowledgeable volunteers who are passionate about animals. We provide top-notch care for all of our animals, ensuring that they are healthy, happy, and well-adjusted. We also offer a wide range of services to the community, including pet adoptions, educational programs, and volunteer opportunities.</p>
            <p>Whether you are looking to adopt a new pet, volunteer your time, or simply learn more about our organization, we welcome you to explore our website and discover all that our shelter has to offer. Thank you for your interest in our cause and for supporting the welfare of animals everywhere!</p>
            <button type="button" class="btn btn-primary" routerLink="/learnmore">Learn More</button>
            <button type="button" class="btn btn-secondary" routerLink="/contactus">Contact Us</button>
        </div>
    </div>
</div>
